html,
body,
.wrap,
main,
footer {
  max-width: 768px;
}
main {

  //  padding-bottom:272px;
}
#full-width-banner {
  min-width: 550px;
  .carousel-inner {
    height: 640px;
    .item + img {
      max-height: 400px;
    }
    .carousel-caption {
      top: 180px;
    }
  }
}

#portfolio-bar {
  overflow: hidden;
  .mission {
    max-width: 540px;
  }
}

.container {
  max-width: 748px;
}
