/*---------------------------------------------------
    LESS Elements 0.9
  ---------------------------------------------------
    A set of useful LESS mixins
    More info at: http://lesselements.com
  ---------------------------------------------------*/
#contact {
  display: block;
  position: relative;
  color: #8e8e8e;
}
#contact::after {
  content: "";
  background: url('/artificial/images/contact-bg.png');
  opacity: 0.5;
  margin-top: -20%;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1;
}
#contact .frm-rt-50 p {
  font-size: 16px;
}
#contact h3 {
  font-size: 24px;
  font-weight: 600;
}
#contact .bootstrap-select {
  width: 100% !important;
}
#contact .form-control {
  padding: 32px  !important;
  line-height: 16px !important;
}
#contact label {
  font-weight: 400;
  font-size: 18px;
}
#contact input[type=text],
#contact input[type=email],
#contact textarea {
  padding: 16px;
}
#contact select,
#contact .selectpicker.btn-default {
  padding: 16px  !important;
  line-height: 16px !important;
  height: 58px;
}
#contact .filter-option {
  font-size: 16px !important;
  line-height: 22px !important;
}
#contact input[type=text],
#contact input[type=email],
#contact textarea,
#contact select,
#contact .selectpicker.btn-default {
  border: 1px solid #494949;
  background: transparent !important;
  border-radius: 0 !important;
  line-height: 16px !important;
  color: #898989;
  font-size: 16px !important;
  text-shadow: none;
  max-width: 100%;
  box-shadow: none;
  -webkit-transition: border 0.2s ease;
  -moz-transition: border 0.2s ease;
  -o-transition: border 0.2s ease;
  transition: border 0.2s ease;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -o-backface-visibility: hidden;
  backface-visibility: hidden;
}
#contact input[type=text]:hover,
#contact input[type=email]:hover,
#contact textarea:hover,
#contact select:hover,
#contact .selectpicker.btn-default:hover,
#contact input[type=text]:focus,
#contact input[type=email]:focus,
#contact textarea:focus,
#contact select:focus,
#contact .selectpicker.btn-default:focus {
  border-color: #f43737;
  outline: 0 !important;
}
#contact textarea {
  height: 180px !important;
}
